/* Fonts */
@font-face {
    font-family: 'Exocet';
    src: url('exocetlight.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Exocet';
    src: url('exocetotcecy-medium.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Exocet';
    src: url('exocetheavy.ttf');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'Formal';
    src: url('formal436bt.ttf');
    font-style: normal;
}

/* Main */
body {
    background: rgb(22,22,22);
    color :#f5f5f5;
    margin: 0;
    font-family: Georgia, Times, serif;
}

#page {
    display: flex;
    flex-direction: row;
}

h1 {
    font-family: Exocet, Verdana, sans-serif;
}

h2, h3, h4, h5 {
    font-family: Formal, sans-serif;
    color: #BD9B4E; 
}

/* Links */

a {
    color: #B4AC92;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.reference-link {
    font-family: Consolas, Courier, monospace;
    color: #7ec8e3;
}

/* Sidebar */

.sidebar {
    max-height: 100vh;
    width: 15em;
    flex-shrink: 0;
    overflow-y: auto;
    position: sticky;
    top: 0;
    line-height: 1.3em;
    padding-right: 1em;
    margin-right: 1em;
}

.sidebar ul {
    list-style-type: none;
    padding-left: 1.5em;
}

.sidebar li {
    color: #afafaf;
}

.site-index {
    margin-top: 2rem;
}

.site-index a {
    text-decoration: none;
    color: steelblue;
}

.site-index a:hover {
    text-decoration: none;
    color: #BD9B4E;
}

.site-index summary {
    cursor: pointer;
    color: #afafaf;
}

.site-index summary:hover {
    color: #f5f5f5;
}

.sidebar .current {
    color: #B4AC92; 
}

/* Search */
#site-search {
    font-family: Formal, sans-serif;
    position: fixed;
    overflow: hidden;
    top: 0;
    
    padding-top: 0.5rem;
    padding-left: 1.5em;
}

#site-search-results {
    position: fixed;
    visibility: hidden;
    overflow-y: auto;
    top: 1.9rem;
    max-height: 50em;
    min-width: 30vw;
    margin: 0;
    list-style: none;

    box-shadow: 0 0 4px black;
}

#site-search-results.focused {
    visibility: visible;
}

.search-style-a {
    background-color: #303030;
}

.search-style-b {
    background-color: black;
}

.search-result-file {
    color: mediumturquoise;
}

.search-result-field {
    color: orange;
}

.search-result:hover {
    background-color: darkslategray;
}

.search-result a {
    display: flex;
    flex-direction: row;
    width: 100%;
    white-space: pre;
}

.search-result a {
    text-decoration: none;
}

.search-result span {
    margin-left: auto;
}

.search-result {
    padding: 4px;
}

/* Guides */

.guide-author {
    color: #afafaf;
    font-style: italic;
    margin-top: -0.5rem;
}

.guide-description {
    color: #afafaf;
    margin-bottom: 1.5rem;
}

pre {
    background-color: #1a1a1a;
    border: 1px solid #444;
    border-radius: 4px;
    padding: 0.75rem 1rem;
    overflow-x: auto;
}

code {
    font-family: monospace;
    font-size: 0.9em;
}

/* Content */

.content {
    min-width: 0;
    flex: 4;
    margin-bottom: 2rem;
}

/* Table */

table {
    margin-top: 0.5rem;
    border-collapse: collapse;
    text-align: left;
}

td, th {
    border: 1px solid lightgray;
    padding: 0.5rem;
}

th {
    font-family: Exocet, serif;
    padding: 1em;
}
