/* Main */

body {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(52,2,2,1) 55%, rgba(0,0,0,1) 100%);
    color :#f5f5f5;
    margin: 0;
}

#page {
    display: flex;
    flex-direction: row;
}

h2, h3, h4, h5 {
    color: #BD9B4E; 
}

/* Links */

a {
    color: #B4AC92;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.reference-link {
    font-style: italic;
}

/* Sidebar */

.sidebar {
    max-height: 100vh;
    min-width: 0;
    overflow-y: auto;
    position: sticky;
    top: 0;
    line-height: 1.3em;
    padding-right: 1em;
    margin-right: 1em;
}

.sidebar ul {
    list-style-type: none;
    padding-left: 1.5em;
}

.sidebar li {
    color: #afafaf;
}

.site-index {
    margin-top: 2rem;
}

.site-index a {
    text-decoration: none;
    color: steelblue;
}

.site-index a:hover {
    text-decoration: none;
    color: #BD9B4E;
}

.sidebar .current {
    color: #B4AC92; 
}

/* Search */
#site-search {
    position: fixed;
    overflow: hidden;
    top: 0;
    
    padding-top: 0.5rem;
    padding-left: 1.5em;

    background-color: black;
}

#site-search-results {
    position: fixed;
    visibility: hidden;
    overflow-y: auto;
    top: 1.9rem;
    max-height: 50em;
    min-width: 30vw;
    margin: 0;
    padding: 0;
    list-style: none;

    box-shadow: 0 0 4px black;
}

#site-search-results.focused {
    visibility: visible;
}

.search-style-a {
    background-color: #303030;
}

.search-style-b {
    background-color: black;
}

.search-result-file {
    color: mediumturquoise;
}

.search-result-field {
    color: orange;
}

.search-result:hover {
    background-color: darkslategray;
}

.search-result a {
    display: flex;
    flex-direction: row;
    width: 100%;
    white-space: pre;
}

.search-result a {
    text-decoration: none;
}

.search-result span {
    margin-left: auto;
}

/* Content */

.content {
    min-width: 0;
    flex: 4;
    margin-bottom: 2rem;
}

/* Table */

table {
    margin-top: 0.5rem;
    border-collapse: collapse;
    text-align: left;
}

td, th {
    border: 1px solid lightgray;
    padding: 0.15rem;
}
